<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<html>
    <head>
        {{- $favicon := "/images/favicon.ico" -}}
        {{- $icon16 := "/icons/icon-16x16.png" -}}
        {{- $icon32 := "/icons/icon-32x32.png" -}}
        {{- $icon144 := "/icons/icon-144x144.png" -}}
        {{- $icon152 := "/icons/icon-152x152.png" -}}
        {{- $icon192 := "/icons/icon-192x192.png" -}}
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
        <link rel="canonical" href="{{ .Permalink }}">          
        <meta property="og:url" content="{{ .Permalink }}" />
        {{ with .Site.Title }}<meta property="og:title" content="{{ . }}">{{ end }}
        {{ with .Site.Params.logo }}<meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}">{{ end }}
        {{ with .Site.Title }}<meta name="apple-mobile-web-app-title" content="{{ . }}">{{ end }}
  <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.BaseURL }}{{ with .Site.Params.favicon }}{{ . }}{{ else }}images/favicon.ico{{ end }}">
  <link rel="icon" type="image/x-icon" href="{{ $.Site.BaseURL }}{{ with .Site.Params.favicon }}{{ . }}{{ else }}images/favicon.ico{{ end }}">          
        <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
        <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        {{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
        {{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
        {{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
        <meta property="og:video" content="{{ . | absURL }}" />
        <link rel="icon" href="{{ $favicon | relURL }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16 | relURL }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32 | relURL }}">
        <link rel="icon" sizes="192x192" href="{{ $icon192 | relURL }}">
        <link rel="apple-touch-icon" href="{{ $icon152 | relURL }}">
        <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.BaseURL }}{{ with .Site.Params.favicon }}{{ . }}{{ else }}images/favicon.ico{{ end }}">
        <link rel="icon" type="image/x-icon" href="{{ $.Site.BaseURL }}{{ with .Site.Params.favicon }}{{ . }}{{ else }}images/favicon.ico{{ end }}">

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        {{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
        {{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
        {{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
        {{ template "_internal/google_news.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
    </head>
    <body>
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
          {{ partial "gtag.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
    </body> 
</html>
