{{ define "content" }}

<div class="outer">
  <div class="inner-medium">

    <article class="post page post-full">
      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header><!-- .post-header -->
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ .Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
      {{ if .Params.img_path }}
      <div class="post-thumbnail">
        <img src="{{ .Params.img_path | relURL }}" alt="{{ .Params.title }}" />
      </div><!-- .post-thumbnail -->
      {{ end }}
      <div class="post-content">
        {{ .Content }}
        <form name="contactForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
          class="contact-form">
          <p class="screen-reader-text">
            <label>Don't fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <p class="form-row">
            <label class="form-label">Nama</label>
            <input type="text" name="name" class="form-input" placeholder="Masukkan Nama Anda...">
          </p>
          <p class="form-row">
            <label class="form-label">Alamat Surel</label>
            <input type="email" name="email" class="form-input" placeholder="Masukkan Alamat Surel Anda...">
          </p>
          <p class="form-row">
            <label class="form-label">Pesan</label>
            <textarea name="message" class="form-textarea" rows="7" placeholder="Pesan Anda..."></textarea>
          </p>
          <input type="hidden" name="form-name" value="contactForm" />
          <p class="form-row form-submit">
            <button type="submit" class="button">Kirim Pesan</button>
          </p>
        </form><!-- .contact-form -->
      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .inner-medium -->
</div><!-- .outer-->

{{ end }}
