<section id="{{ .section.section_id }}" class="block hero-block bg-accent">
  <div class="inner">
    <div class="grid">
      {{ if .section.image }}
      <div class="cell block-preview">
        <img src="{{ .section.image | relURL }}" alt="{{ .section.title }}" />
      </div>
      {{ end }}
      <div class="cell block-content">
        <h2 class="block-title underline">{{ .section.title }}</h2>
        <div class="block-copy">
          {{ partial "markdownify-block" .section.content }}
        </div>
        {{ if .section.actions }}
        <p class="block-buttons">
          {{ range $action := .section.actions }}
          <a href="{{ $action.url | relURL }}" class="button white large">{{ $action.label }}</a>
          {{ end }}
        </p>
        {{ end }}
      </div>
    </div><!-- .grid -->
  </div><!-- .inner -->
</section><!-- .block -->
